/*****GENERAL*****/
body {
  background-color: #f2f2f2;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
#main-wrapper {
  display: grid;
  grid-template-areas:
    "topleft-fr   topcenter-fr  topright-fr"
    "leftbar-fr   content-fr    rightbar-fr"
    "footer-fr    footer-fr     footer-fr";
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: auto auto 200px;
  justify-items: center;
}
#top-left-container {
  grid-area: topleft-fr;
  float: left;
  position: absolute;
  left: 10px;
}
#top-center-container {
  grid-area: topcenter-fr;
  display: flex;
  width: 100%;
}
#top-right-container {
  grid-area: topright-fr;
}
#left-container {
  grid-area: leftbar-fr;
}
#content-container {
  grid-area: content-fr;
}
#right-container {
  grid-area: rightbar-fr;
}
#footer-container {
  grid-area: footer-fr;
}
/*****TOP HEADER*****/
#writeUp_author_img {
  border-radius: 25px;
  width: 150px;
  height: 150px;
  float: left;
  padding: 5px;
}
#writeUp_number,
#anime_title,
#watch_date {
  padding-left: 8px;
  padding-right: 8px;
}
/*****CONTENT*****/
#content-container {
  line-height: 30px;
  padding: 10px;
  text-align: justify;
}
.para {
  margin-top: 30px;
  margin-bottom: 30px;
}
.para-image {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
/*****--AUDIO--*****/
#audioSwitch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
#audioSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}
#audioSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#audioSlider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + #audioSlider {
  background-color: #fcab55;
}
input:focus + #audioSlider {
  box-shadow: 0 0 1px #fcab55;
}
input:checked + #audioSlider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
#audioSlider.round {
  border-radius: 34px;
}
#audioSlider.round:before {
  border-radius: 50%;
}
/*****FOOTER*****/
#footer-div {
  height: 300px;
}
/*****WARNING*****/
#warnOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  font-size: x-large;
  background-color: black;
  color: white;
  opacity: 0.98;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#warnMessage {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
  padding-top: 200px;
}
.warnAnimeName {
  font-weight: 600;
  font-size: xx-large;
}
#warnSound {
  color: #ffff00;
}

@media only screen and (max-width: 1000px) {
  body {
    font-size: 15px;
  }
  #writeUp_author_img {
    border-radius: 15px;
    width: 125px;
    height: 125px;
    padding: 5px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 15px;
  }
  #main-wrapper {
    grid-template-areas:
      "topleft-fr topcenter-fr topright-fr"
      "leftbar-fr content-fr rightbar-fr"
      "footer-fr footer-fr footer-fr";
    grid-template-columns: 1fr 10fr 1fr;
  }
  #top-center-container {
    display: grid;
  }
  #writeUp_author_img {
    border-radius: 15px;
    width: 75px;
    height: 75px;
    padding: 5px;
  }
}
